
/* btn */
.btn {
    color:black;
    background-color: #faebd7;
    border-color: #faebd7;
    box-shadow: 3px 3px 6px #85858547;
}


.header{
  height: 20em;
}


.fa-random{
  position: absolute;
  margin-top: -100px;
  right: 20px;
  font-size: small;
  cursor: pointer;
}


.tile{
  transition: transform .5s ease-out;
  margin-right: 5px;
  width: 30 !important;
  text-align: center;
}

.tile:last-child{
  margin-right: 0;
}

/* test */
/* .tile:first-child{
  transform: translateY(-40px);
} */


.boxes {
  /* border: thin solid aliceblue */
}